In [2]:
import pandas as ps

In [3]:
titanic = ps.read_csv('titanic.csv')
print (titanic)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
238          239         0       2
239          240         0       2
240          241         0       3
241          242         1       3
242          243         0       2

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
238                    Pengelly, Mr. Frederick William    male  19.0      0
239                             Hunt, Mr. George Henry    male  33.0      0
240                              Zabour, Miss. Thamine  female   NaN      1
241                     Murphy, Miss. Katherine "Kate"  female   NaN      1
242                    Coleridge, Mr. Reginald Charles    male  29.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
238      0             28665  10.5000   NaN        S
239      0        SCO/W 1585  12.2750   NaN        S
240      0              2665  14.4542   NaN        C
241      0            367230  15.5000   NaN        Q
242      0       W./C. 14263  10.5000   NaN        S

[243 rows x 12 columns]

In [4]:

#Ver las primeras filas del DataFrame
print("Primeras filas: ", titanic.head())

Primeras filas:     PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [6]:
# Cantidad de filas y columnas
print("\nCantidad de filas y columnas:")
print(titanic.shape)

Cantidad de filas y columnas:
(243, 12)

In [7]:
# Tipos de datos de las columnas
print("\nTipos de datos de las columnas:")
print(titanic.dtypes)

Tipos de datos de las columnas:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [10]:
#2. Averiguar como eliminar datos nulos de un DataFrame
# Eliminar filas con datos nulos en todas las columnas
titanic_cleaned = titanic.dropna()
print(titanic_cleaned)

# Si solo quieres eliminar filas donde la columna 'Age' tiene valores nulos
titanic_cleaned_age = titanic.dropna(subset=['Age'])

# Imprimir la cantidad de filas después de eliminar los nulos
print("\nCantidad de filas después de eliminar los nulos:")
print(titanic_cleaned.shape)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
21            22         1       2
23            24         1       1
27            28         0       1
52            53         1       1
54            55         0       1
62            63         0       1
66            67         1       2
75            76         0       3
88            89         1       1
92            93         0       1
96            97         0       1
97            98         1       1
102          103         0       1
110          111         0       1
118          119         0       1
123          124         1       2
124          125         0       1
136          137         1       1
137          138         0       1
139          140         0       1
148          149         0       2
151          152         1       1
170          171         0       1
174          175         0       1
177          178         0       1
183          184         1       2
193          194         1       2
194          195         1       1
195          196         1       1
205          206         0       3
209          210         1       1
215          216         1       1
218          219         1       1
224          225         1       1
230          231         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.0      1
54                      Ostby, Mr. Engelhart Cornelius    male  65.0      0
62                         Harris, Mr. Henry Birkhardt    male  45.0      1
66                        Nye, Mrs. (Elizabeth Ramell)  female  29.0      0
75                             Moen, Mr. Sigurd Hansen    male  25.0      0
88                          Fortune, Miss. Mabel Helen  female  23.0      3
92                         Chaffee, Mr. Herbert Fuller    male  46.0      1
96                           Goldschmidt, Mr. George B    male  71.0      0
97                     Greenfield, Mr. William Bertram    male  23.0      0
102                          White, Mr. Richard Frasar    male  21.0      0
110                     Porter, Mr. Walter Chamberlain    male  47.0      0
118                           Baxter, Mr. Quigg Edmond    male  24.0      0
123                                Webber, Miss. Susan  female  32.5      0
124                        White, Mr. Percival Wayland    male  54.0      0
136                       Newsom, Miss. Helen Monypeny  female  19.0      0
137                        Futrelle, Mr. Jacques Heath    male  37.0      1
139                                 Giglio, Mr. Victor    male  24.0      0
148           Navratil, Mr. Michel ("Louis M Hoffman")    male  36.5      0
151                  Pears, Mrs. Thomas (Edith Wearne)  female  22.0      1
170                          Van der hoef, Mr. Wyckoff    male  61.0      0
174                            Smith, Mr. James Clinch    male  56.0      0
177                         Isham, Miss. Ann Elizabeth  female  50.0      0
183                          Becker, Master. Richard F    male   1.0      2
193                         Navratil, Master. Michel M    male   3.0      1
194          Brown, Mrs. James Joseph (Margaret Tobin)  female  44.0      0
195                               Lurette, Miss. Elise  female  58.0      0
205                         Strom, Miss. Telma Matilda  female   2.0      0
209                                   Blank, Mr. Henry    male  40.0      0
215                            Newell, Miss. Madeleine  female  31.0      1
218                              Bazzani, Miss. Albina  female  32.0      0
224                       Hoyt, Mr. Frederick Maxfield    male  38.0      1
230       Harris, Mrs. Henry Birkhardt (Irene Wallach)  female  35.0      1

     Parch       Ticket      Fare        Cabin Embarked
1        0     PC 17599   71.2833          C85        C
3        0       113803   53.1000         C123        S
6        0        17463   51.8625          E46        S
10       1      PP 9549   16.7000           G6        S
11       0       113783   26.5500         C103        S
21       0       248698   13.0000          D56        S
23       0       113788   35.5000           A6        S
27       2        19950  263.0000  C23 C25 C27        S
52       0     PC 17572   76.7292          D33        C
54       1       113509   61.9792          B30        C
62       0        36973   83.4750          C83        S
66       0   C.A. 29395   10.5000          F33        S
75       0       348123    7.6500        F G73        S
88       2        19950  263.0000  C23 C25 C27        S
92       0  W.E.P. 5734   61.1750          E31        S
96       0     PC 17754   34.6542           A5        C
97       1     PC 17759   63.3583      D10 D12        C
102      1        35281   77.2875          D26        S
110      0       110465   52.0000         C110        S
118      1     PC 17558  247.5208      B58 B60        C
123      0        27267   13.0000         E101        S
124      1        35281   77.2875          D26        S
136      2        11752   26.2833          D47        S
137      0       113803   53.1000         C123        S
139      0     PC 17593   79.2000          B86        C
148      2       230080   26.0000           F2        S
151      0       113776   66.6000           C2        S
170      0       111240   33.5000          B19        S
174      0        17764   30.6958           A7        C
177      0     PC 17595   28.7125          C49        C
183      1       230136   39.0000           F4        S
193      1       230080   26.0000           F2        S
194      0     PC 17610   27.7208           B4        C
195      0     PC 17569  146.5208          B80        C
205      1       347054   10.4625           G6        S
209      0       112277   31.0000          A31        C
215      0        35273  113.2750          D36        C
218      0        11813   76.2917          D15        C
224      0        19943   90.0000          C93        S
230      0        36973   83.4750          C83        S

Cantidad de filas después de eliminar los nulos:
(40, 12)

In [11]:
#3. Filtrar cantidad de homres y mujeres que registran como pasajeros.
# Contar la cantidad de hombres
cantidad_hombres = titanic[titanic['Sex'] == 'male'].shape[0]

# Contar la cantidad de mujeres
cantidad_mujeres = titanic[titanic['Sex'] == 'female'].shape[0]

print("Cantidad de hombres:", cantidad_hombres)
print("Cantidad de mujeres:", cantidad_mujeres)

Cantidad de hombres: 159
Cantidad de mujeres: 84

In [1]:
#4. Averiguar como limpiar datos, es decir eliminar o transformar datos.
# Eliminar las columnas 'PassengerId' y 'Ticket'
titanic_cleaned = titanic.drop(columns=['PassengerId', 'Ticket'])

print("\nDataFrame sin las columnas 'PassengerId' y 'Ticket':")
print(titanic_cleaned.head())

NameError: name 'titanic' is not defined

In [14]:
# Convertir nombres de columnas a minúsculas
titanic.columns = titanic.columns.str.lower()

print("\nDataFrame con los nombres de las columnas en minúsculas:")
print(titanic.head())

DataFrame con los nombres de las columnas en minúsculas:
   passengerid  survived  pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                name     sex   age  sibsp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   parch            ticket     fare cabin embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S